<div>
<strong>Comments:</strong>
{{ site.data.comments_data[page.url] }}
</div>

<br/>
<script src="https://hcaptcha.com/1/api.js" async defer></script>
<form id="comment-form">
    <div style="display: flex; flex-wrap: wrap;">
        <div style="flex-grow: 1; margin-right: 10px;">
            <input type="text" name="name" placeholder="Your Name" required style="width: 100%; margin-bottom: 10px;">
        </div>
        <div style="flex-grow: 1; margin-left: 10px;">
            <input type="email" name="email" placeholder="Your Email (Optional, for Gravatar)" style="width: 100%; margin-bottom: 10px;">
        </div>
    </div>
    <textarea name="comment" placeholder="Your Comment" required style="width: 100%; height: 100px; margin-bottom: 10px;"></textarea>
    <br>
    <div class="h-captcha" data-sitekey="{{ site.hcaptcha_sitekey }}" style="margin-bottom: 10px;"></div>
    <button type="submit" style="background-color: #007bff; color: #fff; padding: 10px; border-radius: 5px; border: none; cursor: pointer;">Submit</button>
</form>
<script>
document.querySelector('#comment-form').addEventListener('submit', function(event)
{
    var captcha = document.querySelector('[name="h-captcha-response"]').value
    if (!captcha)
    {
        alert('Please solve the captcha first.');
        event.preventDefault(); // Prevent form submission
        return;
    }
    event.preventDefault();

    var name = $('input[name="name"]').val();
    var email = $('input[name="email"]').val();
    var comment = $('#comment-form textarea[name="comment"]').val();
    var params = new URLSearchParams({ 'name': name, 'comment': comment, 'email': email, 'h-captcha-response': captcha, 'post': '{{ page.url }}' })
    fetch('{{ site.hcaptcha_callback }}',
    {
        method: 'POST',
        body: params.toString(),
        headers:
        {
            'Content-Type': 'application/x-www-form-urlencoded'
        }
    }).then(function(response)
    {
        if (response.ok)
        {
            alert('Comment will be posted after the page is rebuilt.');
            location.reload();
        }
        else
        {
            alert('Failed to post comment.')
        }
    }).catch(function(error)
    {
        alert('Failed to post comment.')
    });
});
</script>
<br/><br/>
